.card
  width: 400px
  height: 500px
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap

  &__image
    height: 400px
    width: 400px
    object-fit: cover