.header
  background: url("./background.jpg") center
  background-size: cover
  height: 500px
  display: flex
  justify-content: center
  align-items: center

  &__input
    display: block
    padding: 10px
    font-size: 25px
    border: 2px solid #ccc
  &__search-button
    height: 55px
    display: block
    border: none
    margin:  0 0 0 20px
    padding: 10px 40px
    color: #ffffff
    background-color: #282c34
    cursor: pointer
    outline: none
    font-size: 25px
    transition: background-color .4s ease-in-out
    &:hover
      background-color: #61dafb
      color: #282c34

